.table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
}

.tableData {
  padding: 0.5rem;
  /* text-align: center; */
  border: 1.5px solid #ddd;
}

.error {
  display: flex;
  color: red;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.searchBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 47%;
}

.searchBar {
  display: flex;
  align-items: center;
  align-self: center;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 0 10px;
  width: fit-content;
  /* margin-left:282%; */
  color: black;
}

.buttonAndSearchContainer {
  display: flex;
  align-items: center;
  margin-top: 4%;
}

.searchBar input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  background-color: white;
  color: black;
}

.searchBar button {
  border: none;
  outline: none;
  background-color: #0077ff;
  color: #fff;
  padding: 0 10px;
  border-radius: 5px;
  height: 28px;
  cursor: pointer;
  margin-left: 10px;
}

.searchBar button:hover {
  background-color: #005acb;
}

.tableHeader {
  background-color: #eee;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #ddd;
}

.actionButton {
  background-color: #0070f3;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 0.5rem;
  cursor: pointer;
}

.actionButton:hover {
  background-color: #0062cc;
}

.actionButtonAdd {
  display: flex;
  align-items: center;
  background-color: #0070f3;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 0.5rem;
  cursor: pointer;
  margin-left: 12%;
}

.actionButtonAdd:hover {
  background-color: #0062cc;
}

.modal {
  background-color: rgb(231, 229, 229);
  border-radius: 5px;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  margin-top: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.formHeading {
  text-align: center;
}

.form label {
  margin-bottom: 10px;
}

.form input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.form input:disabled {
  background-color: #ddd;
  color: #000;
}

.form button {
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
}


.button {
  background-color: #0070f3;
  color: white;
  border: 1px solid;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 2%;
  cursor: pointer;
}

.button:hover {
  background-color: #0062cc;
}

.buttonDelete {
  background-color: #dc4444;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.buttonDelete:hover {
  background-color: #dc3b3b;
}
