.table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 3%;
}

.error {
  display: flex;
  color: var(--primary-red);
  font-weight: 500;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.tableData {
  padding: 0.5rem;
  text-align: center;
  border: 1.5px solid #ddd;
}

.tableHeader {
  background-color: #eee;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #ddd;
}

.actionButton {
  background-color: var(--primary-blue);
  border: none;
  color: var(--primary-white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 0.5rem;
  cursor: pointer;
}

.buttonDisabled {
  background-color: #b1d0f3;
  border: none;
  color: rgb(87, 144, 204);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 0.5rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--primary-black);
  border-radius: 4px;
  padding: 0.5rem;
}

.dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuButtons {
  width: 100px;
  background-color: var(--primary-blue);
  border: none;
  color: var(--primary-white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: rgb(231, 229, 229);
  border-radius: 5px;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  margin-top: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.formHeading {
  text-align: center;
}

.form label {
  margin-bottom: 10px;
}

.form input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: var(--primary-blue);
  border: none;
  color: var(--primary-white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 0.5rem;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--primary-black);
  padding: 12px 16px;
}

.dropdown.open .dropdownContent {
  display: block;
}

.dropdownMenu {
  min-width: min-content;
  border-radius: 4px;
  width: 150px;
}

.dropDown {
  min-width: min-content;
  border-radius: 4px;
  transform: none;
  opacity: 1;
  background-color: var(--primary-red);
}

.dropdownButton {
  background-color: var(--primary-white);
  color: var(--primary-black);
  border: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.dropdownButton:hover {
  background-color: #f1f1f1;
}
